 

<div ng-controller="head_Controler">
 <div ng-controller="gestion_diplome">  
    <div ng-controller="head_nom_ipes">
        <div ng-controller="gestion_menu_diplome">
               


                <a href="#" data-role="button" ng-click="diplomes_rech_ipes()" data-icon="back" class="ui-btn-left" data-inline="true" data-theme="a">Diplômes</a>

                
                <!-- panel -->
                
                <div role="main" class="ui-content">
                    <a href="#defaultpanel" data-role="button"  data-icon="bars" class="ui-btn-right" data-inline="true" data-theme="a">Menu</a>


                </div>
                <div data-role="panel" id="defaultpanel" data-display="overlay" data-position="right">
                    <ul data-role="listview" data-icon="false">
                        <li data-icon="delete"><a href="#" data-rel="close">Close</a></li>
                         <li ng-click="accueil()" data-icon="home"><a href="#">Accueil</a></li>

                        <li ng-repeat="data_menu in diplome_menu" li-jq-mobile ng-click="go_item_menu_rech_ipes_diplome(data_menu.menu_diplome)"><a href="#">{{data_menu.menu_diplome}}</a></li>

                       

                    </ul>
                </div><!-- /panel -->



                <h3><center ng-repeat="data_name in presentation_etab"> {{data_name.labelle_ipes}} </center></h3>

          
        </div>
    </div>
</div>

</div>





