 
<div ng-controller="gestion_option">
    <div ng-controller="gestion_specialite">
        <div ng-controller="gestion_filiere">
            <div ng-controller="gestion_diplome">


                <p></p><p></p>

                <center><div class="spinner" ng-show="loader.loading"><img src='css/images/loader.gif'></div></center>

                <div class="ui-corner-all custom-corners" >
                    <div class="ui-bar ui-bar-a" ng-repeat="data_name in data_element_filiere">
                        <h3> <font face="Times New Roman" >{{data_name.labelle_etab}} :</font> </h3><br><font size="2"> <i> {{data_name.labelle_diplome}}</i></font><br> <font size="2"> <i>{{labelle_filiere}}</i></font><br> <font size="1"><i>{{labelle_specialite}}</i></font>

                        <br> <font size="2"> <i>Liste des Options</i></font>
                    </div>
                    <div class="ui-body ui-body-a">
                        <form>
                            <input name="search-11" id="search-121"  type="search">
                        </form>

                        <ul data-role="listview" data-inset="true" data-filter="true" data-input="#search-121">                            

                            <fieldset data-role="collapsible" ng-repeat="data in data_option" jqm-collapsible-repeat>
                                <h1>{{data.labelle_option}}</h1>
                                <label for="textinput-f">{{data.labelle_option}}</label>
                            </fieldset>

                        </ul>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>





