           	 				     	 


<div  ng-controller="head_Controler"> 
 <div  ng-controller="liste_all_etab">    
              
        <h3><center> Liste des établissements du Cameroun <span class="ui-li-count" ng-repeat="data in all_data_etab">{{data.nbre_etab_all}} Etablissements</span></center></h3>

        <!--   <a href="#" data-role="button" data-icon="back" class="ui-btn-right" data-inline="true" data-theme="b"></a> -->
        <a href="#" data-role="button"  ng-click="ActionDifferees()" data-icon="back" class="ui-btn-left" data-inline="true" data-theme="a">Action Différéees</a>

    </div>
</div>
 

