           	 				     	 


<div  ng-controller="head_Controler">  
    <div  ng-controller="liste_all_ipes">             
        <h3><center> Liste des IPES du Cameroun <span class="ui-li-count" ng-repeat="data in data_Ipes_all">{{data.nbre_ipes_all}} IPES</span></center></h3>

        <!--   <a href="#" data-role="button" data-icon="back" class="ui-btn-right" data-inline="true" data-theme="b"></a> -->
        <a href="#" data-role="button"  ng-click="ActionDifferees()" data-icon="back" class="ui-btn-left" data-inline="true" data-theme="a">Action Différéees</a>

    </div>

</div>

